In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../config.csv")

In [9]:
start_end = [(x,y) for x,y  in zip(data['start'], data['end'])]

[(121, 122), (12, 123), (12, 131)]

In [10]:
data

         candidate  start  end
0         sample-2    121  122
1         sample-1     12  123
2  Invalid-Example     12  131

In [14]:
def convert_minute_to_seconds(start, end):
    # Function to convert a single minute value to seconds
    def to_seconds(minutes):
        return minutes * 60

    # Convert start and end times from minutes to seconds
    start_seconds = to_seconds(start)
    end_seconds = to_seconds(end)
    
    return start_seconds, end_seconds

In [15]:
items = data['candidate'].to_list()

122

In [23]:
for candidate in items :
   #candidate_path = os.path.join(TRIALS, candidate)
    s = data.set_index("candidate").loc[candidate, 'start']
    e = data.set_index("candidate").loc[candidate, 'end']
    start_sec, end_sec = convert_minute_to_seconds(s,e)

(7260, 7320)
(720, 7380)
(720, 7860)